<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.twitter</id>
	<name>[WGM] Twitter Integration</name>
	<description>This plugin provides integration with Twitter for status update functionality.</description>
	<author>WebGroup Media, LLC.</author>
	<version>1.0.0</version>
	<link>http://www.cerb5.com/</link>
	<image>plugin.png</image>
 
 	<!-- Requirements -->

	<requires>
		<app_version min="5.6" max="5.7" />
		<php_extension name="oauth" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="5.4.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<!--
		<patch version="5.3.0" revision="1" file="patches/5.3.0.php" />
		-->
	</patches>
	
	<!-- Exported Classes -->
	
 	<class_loader>
		<file path="api/App.php">
			<class name="WgmTwitter_API" />
		</file>
	</class_loader>

	<!-- Extensions -->
 
	<extensions>

		<!-- Setup Page Menu Item -->

		<extension point="cerberusweb.ui.page.menu.item">
			<id>wgmtwitter.setup.menu.plugins.twitter</id>
			<name>Twitter Plugins Menu Item</name>
			<class>
				<file>api/App.php</file>
				<name>WgmTwitter_SetupPluginsMenuItem</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="menu_id" value="core.setup.menu.plugins" />
			</params>
		</extension>
		
		<!-- Setup Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>wgmtwitter.setup.twitter</id>
			<name>Setup Page Twitter Section</name>
			<class>
				<file>api/App.php</file>
				<name>WgmTwitter_SetupSection</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="twitter" />
			</params>
		</extension>
		
		<!-- Event Actions -->
		
		<extension point="devblocks.event.action">
			<id>wgmtwitter.event.action.post</id>
			<name>Update Twitter Status</name>
			<class>
				<file>api/App.php</file>
				<name>WgmTwitter_EventActionPost</name>
			</class>
			<params>
				<param key="label" value="Post to Twitter" />
			</params>
		</extension>
		
    </extensions> 
</plugin>
